
<form name="vm.form" autocomplete=”off” novalidate="true">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-if="appMode == 'local'">
                <label for="customer">Customers <span class="text-danger">*</span></label>
                <select class="form-control"id="customer" aria-describedby="customerHelpBlock"
                        name="customer" ng-model="vm.customer" xng-change="onCustomerChange()"
                        ng-options="item.customerName for item in vm.customers">
                </select>
                <div id="bankNameHelpBlock" class="help-inline">
                    <span>{{vm.customer.email}}&nbsp;&nbsp;&nbsp;{{vm.customer.mobile}}</span>
                </div>
            </div>
            <div ng-if="appMode != 'local'"><strong>{{vm.customer.email}}&nbsp;&nbsp;&nbsp;{{vm.customer.mobile}}</strong></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row" ng-if="vm.customer.idType == 'Passport'">
        <div class="col-md-4">
            <div><img ng-show="vm.form.passportFront.$valid" ngf-thumbnail="vm.passportFront" class="img-thumbnail"></div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : (vm.form.passportFront.$dirty && vm.form.passportFront.$invalid), 'has-success' : (vm.form.passportFront.$dirty && vm.form.passportFront.$valid) }">
                <label for="passportFront" class="control-label">Passport Front <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="passportFront" placeholder="" aria-describedby="passportFrontHelpBlock"
                       name="passportFront" ng-model="vm.passportFront" accept="image/*" ngf-select
                       xng-required="vm.customer.idType == 'Passport'" ngf-max-size="1MB" ngf-model-invalid="vm.passportFrontError">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportFront.$dirty && vm.form.passportFront.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportFront.$dirty && vm.form.passportFront.$valid"></span>
                <div id="passportFrontHelpBlock" class="help-inline" ng-if="vm.form.passportFront.$dirty">
                    <span ng-show="vm.form.passportFront.$error.required">This is required.</span>
                    <span ng-show="vm.form.passportFront.$error.maxSize">File too large {{vm.passportFrontError.size / 1000000 | number:1}}MB: max 1MB</span>
                </div>
                <div class="progress" ng-show="vm.passportFront.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.passportFront.progress}}%" ng-bind="vm.passportFront.progress + '%'"></div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div><img ng-src="{{vm.passportFrontImage}}" class="img-thumbnail"></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        -->
    </div>
    <div class="row" ng-if="vm.customer.idType == 'Passport'">
        <div class="col-md-4">
            <div><img ng-show="vm.form.passportBack.$valid" ngf-thumbnail="vm.passportBack" class="img-thumbnail"></div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : (vm.form.passportBack.$dirty && vm.form.passportBack.$invalid), 'has-success' : (vm.form.passportBack.$dirty && vm.form.passportBack.$valid) }">
                <label for="passportBack" class="control-label">Passport Back <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="passportBack" placeholder="" aria-describedby="passportBackHelpBlock"
                       name="passportBack" ng-model="vm.passportBack" accept="image/*" ngf-select
                       xng-required="vm.customer.idType == 'Passport'" ngf-max-size="1MB" ngf-model-invalid="vm.passportBackError">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportBack.$dirty && vm.form.passportBack.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportBack.$dirty && vm.form.passportBack.$valid"></span>
                <div id="passportBackHelpBlock" class="help-inline" ng-if="vm.form.passportBack.$dirty">
                    <span ng-show="vm.form.passportBack.$error.required">This is required.</span>
                    <span ng-show="vm.form.passportBack.$error.maxSize">File too large {{vm.passportBackError.size / 1000000 | number:1}}MB: max 1MB</span>
                </div>
                <div class="progress" ng-show="vm.passportBack.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.passportBack.progress}}%" ng-bind="vm.passportBack.progress + '%'"></div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4">
            <div><img ng-src="{{vm.passportBackImage}}" class="img-thumbnail"></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        -->
    </div>
    <div class="row" ng-show="vm.customer.idType == 'NRIC'">
        <div class="col-md-4">
            <div><img ng-show="vm.form.nricFront.$valid" ngf-thumbnail="vm.nricFront" class="img-thumbnail"></div>
            <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (vm.form.nricFront.$dirty && vm.form.nricFront.$invalid), 'has-success' : (vm.form.nricFront.$dirty && vm.form.nricFront.$valid) }">
                <label for="nricFront" class="control-label">NRIC Front <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="nricFront" placeholder="" aria-describedby="nricFrontHelpBlock"
                       name="nricFront" ng-model="vm.nricFront" ngf-select
                       xng-required="vm.customer.idType == 'NRIC'" accept="image/*" ngf-max-size="1MB" ngf-model-invalid="vm.nricFrontError">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricFront.$dirty && vm.form.nricFront.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricFront.$dirty && vm.form.nricFront.$valid"></span>
                <div id="nricFrontHelpBlock" class="help-inline" ng-if="vm.form.nricFront.$dirty">
                    <span ng-show="vm.form.nricFront.$error.required">This is required.</span>
                    <span ng-show="vm.form.nricFront.$error.maxSize">File too large {{vm.nricFrontError.size / 1000000 | number:1}}MB: max 1MB</span>
                </div>
                <div class="progress" ng-show="vm.nricFront.progress >= 0">
                     <div class="progress-bar progress-bar-info progress-bar-striped"
                          style="width:{{vm.nricFront.progress}}%" ng-bind="vm.nricFront.progress + '%'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div><img ng-src="{{vm.nricFrontImage}}" class="img-thumbnail"></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row" ng-show="vm.customer.idType == 'NRIC'">
        <div class="col-md-4">
            <div><img ng-show="vm.form.nricBack.$valid" ngf-thumbnail="vm.nricBack" class="img-thumbnail"></div>
            <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (vm.form.nricBack.$dirty && vm.form.nricBack.$invalid), 'has-success' : (vm.form.nricBack.$dirty && vm.form.nricBack.$valid) }">
                <label for="nricBack" class="control-label">NRIC Back <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="nricBack" placeholder="" aria-describedby="nricBackHelpBlock"
                       name="nricBack" ng-model="vm.nricBack" ngf-select
                       xng-required="vm.customer.idType == 'NRIC'" accept="image/*" ngf-max-size="1MB" ngf-model-invalid="vm.nricBackError">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricBack.$dirty && vm.form.nricBack.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricBack.$dirty && vm.form.nricBack.$valid"></span>
                <div id="nricBackHelpBlock" class="help-inline" ng-if="vm.form.nricBack.$dirty">
                    <span ng-show="vm.form.nricBack.$error.required">This is required.</span>
                    <span ng-show="vm.form.nricBack.$error.maxSize">File too large {{vm.nricBackError.size / 1000000 | number:1}}MB: max 1MB</span>
                </div>
                <div class="progress" ng-show="vm.nricBack.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.nricBack.progress}}%" ng-bind="vm.nricBack.progress + '%'"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div><img ng-src="{{vm.nricBackImage}}" class="img-thumbnail"></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4  text-right">
            <button type="reset" class="btn btn-default"
                    xng-click="vm.reset()">
                Reset
            </button>
            &nbsp;&nbsp;&nbsp;
            <button type="submit" class="btn "
                    ng-class="{'btn-primary' : vm.form.$pristine, 'btn-success' : (vm.form.$dirty && vm.form.$valid), 'btn-danger' : (vm.form.$dirty && vm.form.$invalid) }"
                    xng-disabled="(vm.form.$dirty && vm.form.$valid)"
                    ng-click="vm.save()">
                Save
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-4  text-right">
            <button type="submit" class="btn"
                    ng-class="{'btn-primary' : vm.form.$pristine, 'btn-success' : (vm.form.$dirty && vm.form.$valid), 'btn-danger' : (vm.form.$dirty && vm.form.$invalid) }"
                    xng-disabled="(vm.form.$dirty && vm.form.$valid)"
                    ng-click="vm.approve()">
                Approve
            </button>
        </div>
    </div>
    <!--
    <br/>
    <pre>{{vm.customer | json}}</pre>
    -->
</form>