<br/>
<form name="vm.form" autocomplete="off" novalidate="true">
    <div class="row" ng-if="appMode == 'local'">
        <div class="col-md-4">
            <div class="form-group">
                <label for="customer">Customers <span class="text-danger">*</span></label>
                <select class="form-control"id="customer" aria-describedby="customerHelpBlock"
                        name="customer" ng-model="vm.customer" ng-change="vm.onCustomerChange()"
                        ng-options="item.customerName for item in vm.customers">
                </select>
                <div id="bankNameHelpBlock" class="help-inline">
                    <span>{{vm.customer.email}}&nbsp;&nbsp;&nbsp;{{vm.customer.mobile}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="name" class="control-label">Full Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="name" placeholder="Full Name"
                       name="name" ng-model="vm.customer.customerName" required readonly>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="idNo" class="control-label">IC/Passport No. <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="idNo" placeholder="NRIC Number"
                       name="idNo" ng-model="vm.customer.idNo" required readonly>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.hideRow">
        <div class="col-md-4">
            <div class="form-group has-feedback">
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : (vm.form.sourceOfIncome.$dirty && vm.form.sourceOfIncome.$invalid), 'has-success' : (vm.form.sourceOfIncome.$dirty && vm.form.sourceOfIncome.$valid) }">
                    <label for="sourceOfIncome">Source Of Income <span class="text-danger">*</span></label>
                    <select class="form-control" id="sourceOfIncome" name="sourceOfIncome" aria-describedby="sourceOfIncomeHelpBlock" placeholder="Choose Source Of Income"
                            ng-options="item for item in vm.sourceOfIncomes"
                            ng-model="vm.sourceOfIncome" require="true">
                    </select>
                    <div id="sourceOfIncomeHelpBlock" class="help-inline" ng-messages="vm.form.sourceOfIncome.$error" ng-if="vm.form.sourceOfIncome.$dirty">
                        <span ng-message="required">This is required.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group has-feedback">
                <div class="form-group has-feedback"
                     ng-class="{ 'has-error' : (vm.form.natureOfBusiness.$dirty && vm.form.natureOfBusiness.$invalid), 'has-success' : (vm.form.natureOfBusiness.$dirty && vm.form.natureOfBusiness.$valid) }">
                    <label for="natureOfBusiness">Nature Of Business <span class="text-danger">*</span></label>
                    <select class="form-control" id="natureOfBusiness" name="natureOfBusiness" aria-describedby="natureOfBusinessHelpBlock" placeholder="Choose Nature Of Business"
                            ng-options="item for item in vm.natureOfBusinesses"
                            ng-model="vm.natureOfBusiness" require="true">
                    </select>
                    <div id="natureOfBusinessHelpBlock" class="help-inline" ng-messages="vm.form.natureOfBusiness.$error" ng-if="vm.form.natureOfBusiness.$dirty">
                        <span ng-message="required">This is required.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" ng-if="vm.customer.idType == 'Passport'">
            <div><img ng-show="vm.form.passportFront.$valid" ngf-thumbnail="vm.passportFront" class="img-thumbnail" style="width: 250px; height: 200px"></div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : (vm.form.passportFront.$dirty && vm.form.passportFront.$invalid), 'has-success' : (vm.form.passportFront.$dirty && vm.form.passportFront.$valid) }">
                <label for="passportFront" class="control-label">Passport Front <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="passportFront" placeholder="" aria-describedby="passportFrontHelpBlock"
                       name="passportFront" ng-model="vm.passportFront" accept="image/*" ngf-select>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportFront.$dirty && vm.form.passportFront.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportFront.$dirty && vm.form.passportFront.$valid"></span>
                <div id="passportFrontHelpBlock" class="help-inline" ng-if="vm.form.passportFront.$dirty">
                    <span ng-show="vm.form.passportFront.$error.required">This is required.</span>
                    <span ng-show="vm.form.passportFront.$error.maxSize">File too large {{vm.passportFrontError.size / 1000000 | number:1}}MB: max {{vm.maxSizeForIdDocuments}}</span>
                </div>
                <div class="progress" ng-show="vm.passportFront.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped" style="width:{{vm.passportFront.progress}}%" ng-bind="vm.passportFront.progress + '%'"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-if="vm.customer.idType == 'Passport'">
            <div><img ng-show="vm.form.passportBack.$valid" ngf-thumbnail="vm.passportBack" class="img-thumbnail" style="width: 250px; height: 200px"></div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : (vm.form.passportBack.$dirty && vm.form.passportBack.$invalid), 'has-success' : (vm.form.passportBack.$dirty && vm.form.passportBack.$valid) }">
                <label for="passportBack" class="control-label">Passport Back <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="passportBack" placeholder="" aria-describedby="passportBackHelpBlock"
                       name="passportBack" ng-model="vm.passportBack" accept="image/*" ngf-select>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportBack.$dirty && vm.form.passportBack.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.passportBack.$dirty && vm.form.passportBack.$valid"></span>
                <div id="passportBackHelpBlock" class="help-inline" ng-if="vm.form.passportBack.$dirty">
                    <span ng-show="vm.form.passportBack.$error.required">This is required.</span>
                    <span ng-show="vm.form.passportBack.$error.maxSize">File too large {{vm.passportBackError.size / 1000000 | number:1}}MB: max {{vm.maxSizeForIdDocuments}}</span>
                </div>
                <div class="progress" ng-show="vm.passportBack.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.passportBack.progress}}%" ng-bind="vm.passportBack.progress + '%'"></div>
                </div>
            </div>
        </div>

  <!--  <div class="row" ng-if="vm.customer.idType == 'NRIC'"> -->
        <div class="col-md-4" ng-if="vm.customer.idType == 'NRIC'">
            <div><img ng-show="vm.form.nricFront.$valid" ngf-thumbnail="vm.nricFront" class="img-thumbnail" style="width: 250px; height: 200px"></div>
            <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (vm.form.nricFront.$dirty && vm.form.nricFront.$invalid), 'has-success' : (vm.form.nricFront.$dirty && vm.form.nricFront.$valid) }">
                <label for="nricFront" class="control-label">NRIC Front <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="nricFront" placeholder="" aria-describedby="nricFrontHelpBlock"
                       name="nricFront" ng-model="vm.nricFront" ngf-select>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricFront.$dirty && vm.form.nricFront.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricFront.$dirty && vm.form.nricFront.$valid"></span>
                <div id="nricFrontHelpBlock" class="help-inline" ng-if="vm.form.nricFront.$dirty">
                    <span ng-show="vm.form.nricFront.$error.required">This is required.</span>
                    <span ng-show="vm.form.nricFront.$error.maxSize">File too large {{vm.nricFrontError.size / 1000000 | number:1}}MB: max {{vm.maxSizeForIdDocuments}}</span>
                </div>
                <div class="progress" ng-show="vm.nricFront.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.nricFront.progress}}%" ng-bind="vm.nricFront.progress + '%'"></div>
                </div>
            </div>
        </div>

        <div class="col-md-4" ng-if="vm.customer.idType == 'NRIC'">
            <!--  <div><img ng-src="{{vm.nricFrontImage}}" class="img-thumbnail"></div> -->
            <div><img ng-show="vm.form.nricBack.$valid" ngf-thumbnail="vm.nricBack" class="img-thumbnail" style="width: 250px; height: 200px"></div>
            <div class="form-group has-feedback"
                 ng-class="{ 'has-error' : (vm.form.nricBack.$dirty && vm.form.nricBack.$invalid), 'has-success' : (vm.form.nricBack.$dirty && vm.form.nricBack.$valid) }">
                <label for="nricBack" class="control-label">NRIC Back <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="nricBack" placeholder="" aria-describedby="nricBackHelpBlock"
                       name="nricBack" ng-model="vm.nricBack" ngf-select>
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricBack.$dirty && vm.form.nricBack.$invalid"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-if="vm.form.nricBack.$dirty && vm.form.nricBack.$valid"></span>
                <div id="nricBackHelpBlock" class="help-inline" ng-if="vm.form.nricBack.$dirty">
                    <span ng-show="vm.form.nricBack.$error.required">This is required.</span>
                    <span ng-show="vm.form.nricBack.$error.maxSize">File too large {{vm.nricBackError.size / 1000000 | number:1}}MB: max {{vm.maxSizeForIdDocuments}}</span>
                </div>
                <div class="progress" ng-show="vm.nricBack.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.nricBack.progress}}%" ng-bind="vm.nricBack.progress + '%'"></div>
                </div>
            </div>
        </div>
<!--
        <div class="col-md-4">
            <div><img ng-show="vm.form.signature.$valid" ngf-thumbnail="vm.signature" class="img-thumbnail" style="width: 250px; height: 200px"></div>
            <div class="form-group has-feedback" ng-class="{ 'has-error' : (vm.form.signature.$dirty && vm.form.signature.$invalid), 'has-success' : (vm.form.signature.$dirty && vm.form.signature.$valid) }">
                <label for="signature" class="control-label">Signature <span class="text-danger">*</span></label>
                <input type="file" class="form-control" id="signature" placeholder="" aria-describedby="signatureHelpBlock"
                       name="signature" ng-model="vm.signature" accept="image/*" ngf-select>
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                          ng-if="vm.form.signature.$dirty && vm.form.signature.$invalid"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                          ng-if="vm.form.signature.$dirty && vm.form.signature.$valid"></span>
                <div id="signatureHelpBlock" class="help-inline" ng-if="vm.form.signature.$dirty">
                    <span ng-show="vm.form.signature.$error.required">This is required.</span>
                    <span ng-show="vm.form.signature.$error.maxSize">File too large {{vm.signatureError.size / 1000000 | number:1}}MB: max 1MB</span>
                </div>
                <div class="progress" ng-show="vm.signature.progress >= 0">
                    <div class="progress-bar progress-bar-info progress-bar-striped"
                         style="width:{{vm.signature.progress}}%" ng-bind="vm.signature.progress + '%'"></div>
                </div>
            </div>
        </div>
        -->
    </div>

    <div class="row">
        <div class="col-md-4  text-right">
           <!-- <button type="reset" class="btn btn-default"
                    xng-click="vm.reset()">
                Reset
            </button>
            &nbsp;&nbsp;&nbsp; -->
            <a class="btn btn-danger" ng-click="vm.cancel()">Cancel</a>
            &nbsp;&nbsp;&nbsp;

            <button type="submit" class="btn "
                    ng-class="{'btn-primary' : vm.form.$pristine, 'btn-success' : (vm.form.$dirty && vm.form.$valid), 'btn-danger' : (vm.form.$dirty && vm.form.$invalid) }"
                    xng-disabled="(vm.form.$dirty && vm.form.$valid)"
                    ng-click="vm.save()">
                Next
            </button>
            &nbsp;&nbsp;&nbsp;
            <a type="submit" class="btn btn-primary" href="#!/convert" ng-if="window.location.hostname == 'localhost'">NextX</a>
        </div>
    </div>

</form>
