<br xmlns="http://www.w3.org/1999/html"/>
<form name="vm.form" autocomplete=”off” novalidate="true">
    <div class="row" ng-if="appMode == 'local'">
        <div class="col-md-4">
            <div class="form-group">
                <label for="customer">Customers <span class="text-danger">*</span></label>
                <select class="form-control"id="customer" aria-describedby="customerHelpBlock"
                        name="customer" ng-model="vm.customer" ng-change="vm.onCustomerChange()"
                        ng-options="item.customerName for item in vm.customers">
                </select>
                <!--
                <div id="bankNameHelpBlock" class="help-inline">
                    <span>{{vm.customer.email}}&nbsp;&nbsp;&nbsp;{{vm.customer.mobile}}</span>
                </div>
                -->
            </div>
            <div><strong>{{vm.customer.email}}&nbsp;&nbsp;&nbsp;{{vm.customer.mobile}}</strong></div>
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4><strong>Customer Information</strong></h4>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    Customer Name
                </div>
                <div class="col-md-6">
                   <strong>{{vm.customer.customerName}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Status
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.status}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Email
                </div>
                <div class="col-md-6">
                   <strong>{{vm.customer.email}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Date Of Birth
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.riskProfile.cdd.DOB | date : 'dd - MM - yyyy'}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    ID Type
                </div>
                <div class="col-md-6">
                   <strong>{{vm.customer.idType}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    ID Number
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.idNo}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-6">
                    Nationality
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.nationality}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Country
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.country}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Address
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.address}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    Mobile
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.mobile}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    State
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.state}}</strong>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    City
                </div>
                <div class="col-md-6">
                    <strong>{{vm.customer.city}}</strong>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-center">
                <h4><strong>Documents Information</strong></h4>
            </div>
            <div class="text-center">
                <strong>Front</strong>
            </div>
            <div class="text-center">
                <img ng-src="{{vm.customer.imageFrontUrl}}" alt="Front" class="img-thumbnail" style="width: 600px; height: 300px">
            </div>
            <div class="text-center">
                <strong>Back</strong>
            </div>
            <div class="text-center">
                <img ng-src="{{vm.customer.imageBackUrl}}" alt="Back" class="img-thumbnail" style="width: 600px; height: 300px">
            </div>
            <!--
            <div class="text-center">
                <strong>Signature</strong>
            </div>
            <div class="text-center">
                <img ng-src="{{vm.customer.imageSignatureUrl}}" alt="Back" class="img-thumbnail" style="width: 200px; height: 350px">
            </div>
            -->
        </div>
    </div>
    <br/>
    <div class="text-center">
        <a class="btn btn-danger" ng-click="vm.cancel()">Cancel</a>
        &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-primary"
                ng-click="vm.createCustomer()">
            Create Customer
        </button>&nbsp;&nbsp;
        <!--
        <button type="submit" class="btn btn-primary"
                ng-click="vm.convertCustomer()">
            Convert
        </button>
        -->
    </div>

</form>