<br/>
<div class="form-inline text-center">
    <div class="form-group">
        <strong>Order Id : </strong>
        &nbsp;&nbsp;&nbsp;
        <input class="form-control" type="text" id="searchOrderId" placeholder="Enter Order ID"
               name="searchOrderId" ng-model="vm.searchOrderId" autofocus="true">
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default" ng-click="vm.search()">Search</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger" ng-click="vm.reset()">Reset</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-8">
        <h4 class="text-center"><b>Order Details</b></h4>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                Order ID
            </div>
            <div class="col-md-3">
               <strong>{{vm.model.id}}</strong>
            </div>
            <div class="col-md-3">
                Currency
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.items[0].name}} ({{vm.model.items[0].ccy}})</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
               Order Date
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.orderDate | date : 'dd - MM - yyyy'}}</strong>
            </div>
            <div class="col-md-3">
                Unit
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.items[0].value| number : fractionSize}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
               PIN
            </div>
            <div class="col-md-3">
                <strong> </strong>
            </div>
            <div class="col-md-3">
                Rate
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.items[0].rate}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
               Status
            </div>
            <div class="col-md-3">
                <!--<strong>{{vm.model.items[0].status}}</strong>-->
                <strong>{{vm.model.status}}</strong>
            </div>
            <div class="col-md-3">
                Fee & Tax
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.items[0].fee + vm.model.items[0].tax}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-3">
                Comment
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.comment}}</strong>
            </div>
            <div class="col-md-3">
                Total
            </div>
            <div class="col-md-3">
                <strong>{{vm.model.items[0].total}}</strong>
            </div>
        </div>
        <br/>
    </div>
    <div class="col-md-4">
        <h4 class="text-center"><b>Payment Details</b></h4>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Status
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.receipts[1].status}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Transaction ID
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.receipts[1].transactionId}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Payment Type
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.receipts[1].paymentType}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Bank Name
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.receipts[1].bankName}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Total Paid
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.receipts[1].totalPaid}}</strong>
            </div>
        </div>
        <br/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Sender Details</div>
            <div class="panel-body">
                <div class="row">
                   <div class="col-md-6">
                       Sender Name
                   </div>
                   <div class="col-md-6">
                       <strong>{{vm.model.customerName}}</strong>
                   </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        Email ID
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.username}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                       Mobile
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.orderRiskProfile.riskProfile.cdd.phone}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                       Nationality
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.orderRiskProfile.riskProfile.cdd.nationality}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        Address
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.orderRiskProfile.riskProfile.cdd.address}}</strong>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Beneficiary Details</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        Beneficiary Name
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.name}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        Beneficiary Mobile
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.mobile}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                       Address
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.address}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        Country
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.country}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        Bank Name
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.bankAccounts[1].name}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                       Account Number
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.bankAccounts[1].acctNo}}</strong>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                       Branch
                    </div>
                    <div class="col-md-6">
                        <strong>{{vm.model.beneficiary.bankAccounts[1].branch}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="vm.resend()" disabled>Resend</button>
    </div>
</div>

<!--<div ng-if="appMode == 'local'"><br/><pre>{{vm.model | json}}</pre></div>-->