
<div class="modal-header">
    <h3 class="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>{{vm.model.mobile}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>or</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Mobile Number *"
                       ng-model="vm.mobileNoNew">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-4 text-left">
            <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
        </div>
        <div class="col-md-4 text-left">
            &nbsp;
        </div>
        <div class="col-md-4 text-right">
            <button type="submit" class="btn btn-primary" ng-click="vm.updateMobileNumber()">Send</button>
        </div>
    </div>
</div>

