<br/>
<div class="row">

    <div class="col-sm-1 col-md-4">&nbsp;</div>

    <div class="col-sm-10 col-md-4">

        <div class="panel panel-default" >

            <div class="panel-heading">
                <div class="panel-title text-center">{{vm.message}}</div>
            </div>

            <div class="panel-body" >

                <form name="vm.form" autocomplete=”off” novalidate="true">

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : (vm.form.userId.$dirty && vm.form.userId.$invalid), 'has-success' : (vm.form.userId.$dirty && vm.form.userId.$valid) }">
                        <label for="userId">User Id <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" id="userId" placeholder="User Id" aria-describedby="userIdHelpBlock"
                                   name="userId" ng-model="vm.userId" autofocus="true" required>
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                              ng-if="vm.form.userId.$dirty && vm.form.userId.$invalid"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                              ng-if="vm.form.userId.$dirty && vm.form.userId.$valid"></span>
                        <div id="userIdHelpBlock" class="help-inline" ng-messages="vm.form.userId.$error" ng-if="vm.form.userId.$dirty">
                            <span ng-message="required">This is required.</span>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : (vm.form.password.$dirty && vm.form.password.$invalid), 'has-success' : (vm.form.password.$dirty && vm.form.password.$valid) }">
                        <label for="password">Password <span class="text-danger">*</span></label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelpBlock"
                                   name="password" ng-model="vm.password" autofocus="true" required>
                        </div>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                              ng-if="vm.form.password.$dirty && vm.form.password.$invalid"></span>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                              ng-if="vm.form.password.$dirty && vm.form.password.$valid"></span>
                        <div id="passwordHelpBlock" class="help-inline" ng-messages="vm.form.password.$error" ng-if="vm.form.password.$dirty">
                            <span ng-message="required">This is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="pull-right btn "
                                    ng-class="{'btn-primary' : vm.form.$pristine, 'btn-success' : (vm.form.$dirty && vm.form.$valid), 'btn-danger' : (vm.form.$dirty && vm.form.$invalid) }"
                                    ng-disabled="!(vm.form.$dirty && vm.form.$valid)"
                                    ng-click="vm.signIn()">
                                <i class="glyphicon glyphicon-log-in"></i> Sign In
                            </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>

    </div>

    <div class="col-sm-1 col-md-4">&nbsp;</div>

</div>
