<br/>
<div class="row" ng-if="vm.isReady">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4><strong>Customer Information</strong></h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Customer Name
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.fullName}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Status
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.status}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Email
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.email}}</strong>
        </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Date Of Birth
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.DOB | date : 'dd - MM - yyyy'}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                ID Type
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.idType}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                ID Number
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.idNo}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Nationality
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.nationality}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Country
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.nationalityCountry}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Address
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.address}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Mobile
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.mobile}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                State
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.state}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                City
            </div>
            <div class="col-md-6">
                <strong>{{vm.model.riskProfile.cdd.city}}</strong>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Is In PEP?
            </div>
            <div class="col-md-6">
                <span ng-class="vm.model.isInPEP == 'Yes' ? 'text-danger' : 'text-info'"><strong>{{vm.model.isInPEP}}</strong></span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                Is In OFAC?
            </div>
            <div class="col-md-6">
                <span ng-class="vm.model.isInOFAC == 'Yes' ? 'text-danger' : 'text-info'"><strong>{{vm.model.isInOFAC}}</strong></span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default pull-left" href="#!/users">Cancel</a>
                <span class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="vm.updateStatus('removed')" ng-if="vm.model.status != 'active'">
                        Reject
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary" ng-click="vm.updateStatus('active')" ng-if="vm.model.status != 'active'">
                        Approve
                    </button>
                    <!--
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" ng-click="vm.updateStatus('revisit')" ng-if="vm.model.status != 'active'">
                        Revisit
                    </button>
                    -->
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="text-center">
            <h4><strong>Documents Information</strong></h4>
        </div>
        <div class="text-center">
            <strong>Front</strong>
        </div>
        <div class="text-center">
            <img ng-src="{{vm.model.imageFrontUrl}}" alt="Front" class="img-thumbnail" style="width: 600px; height: 300px">
        </div>
        <div class="text-center">
            <strong>Back</strong>
        </div>
        <div class="text-center">
            <img ng-src="{{vm.model.imageBackUrl}}" alt="Back" class="img-thumbnail" style="width: 600px; height: 300px">
        </div>
        <!--
        <div class="text-center">
            <strong>Signature</strong>
        </div>
        <div class="text-center">
            <img ng-src="{{vm.customer.imageSignatureUrl}}" alt="Back" class="img-thumbnail" style="width: 400px; height: 400px">
        </div>
        -->
    </div>
</div>

<div ng-if="appMode == 'local'"><br/><pre>{{vm.model | json}}</pre></div>
