<br/>
<div class="form-inline text-center">
    <div class="form-group">
        <strong>IC/Passport No : </strong>&nbsp;&nbsp;&nbsp;
        <input class="form-control" type="text" id="searchId" placeholder="Search user by Id"
               name="searchId" ng-model="vm.searchId" autofocus="true">
        &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="vm.search()">Search</button>
        &nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="vm.reset()">Reset</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-2">
        Name
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.fullName}}</strong>
    </div>
    <div class="col-md-2">
        Email Id
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.email}}</strong>
    </div>
    <div class="col-md-2">
        Id No
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.idNo}}</strong>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-2">
        Id Type
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.idType}}</strong>
    </div>
    <div class="col-md-2">
        Date Of Birth
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.DOB | date : 'dd - MMM - yyyy' }}</strong>
    </div>
    <div class="col-md-2">
       Address
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.address}}</strong>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        City
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.city}}</strong>
    </div>
    <div class="col-md-2">
        Country
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.country}}</strong>
    </div>
    <div class="col-md-2">
        Nationality
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.nationality}}</strong>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        Phone
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.phone}}</strong>
    </div>
    <div class="col-md-2">
        State
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.state}}</strong>
    </div>
    <div class="col-md-2">
        Postal Code
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.cdd.postalCode}}</strong>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        Company Name
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.companyName}}</strong>
    </div>
    <div class="col-md-2">
        Company Type
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.companyType}}</strong>
    </div>
    <div class="col-md-2">
        Customer Type
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.customerType}}</strong>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-2">
        Income Source
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.edd.incomeSource}}</strong>
    </div>
    <div class="col-md-2">
        Nature Of Business
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.riskProfile.edd.natureOfBusiness}}</strong>
    </div>
    <div class="col-md-2">
        Status
    </div>
    <div class="col-md-2">
        <strong>{{vm.model.status}}</strong>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" ng-click="vm.resendSms()">Resend SMS</button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default pull-left" ng-click="vm.addBeneficiary()" disabled>Add Beneficiary</button>
    </div>
</div>

<div ng-if="appMode == 'local'"><br/><pre>{{vm.model | json}}</pre></div>